@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<br>
<br>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@*
    @page
    @using Microsoft.AspNetCore.Authentication

    @model HireMe.ViewModels.Accounts.LoginViewModel

    @inject IAuthenticationSchemeProvider SchemeProvider

    @{
        ViewData["Title"] = "Login";
        Layout = "~/Views/Shared/_LayoutPanel.cshtml";
    }

    <h1 class="text-center">Login</h1>
    <hr class="hr-1 bg-info half-width" />
    <form class="mx-auto half-width" method="post" asp-action="Login">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" placeholder="Username..." />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" placeholder="Password..." />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="checkbox text-center">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn bg-info">Login</button>
        </div>
    </form>
    <br />
    <div class="text-center">
        <a asp-controller="Accounts" asp-action="Register" class="text-info">Forgot your password?</a>
    </div>
    <div class="text-center">
        <a asp-controller="Accounts" asp-action="Register" class="text-info">Register as a new user</a>
    </div>
    <hr class="hr-1 bg-info half-width" />
    <form asp-action="ExternalLogin" method="post" class="form-horizontal text-center">
        <div>
            <p>
                @foreach (var provider in await SchemeProvider.GetRequestHandlerSchemesAsync())
                {
                    <button type="submit" class="btn btn-info text-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }
            </p>
        </div>
    </form>
    <hr class="hr-1 bg-info half-width" />
*@